---
const { height = "300px" } = Astro.props;
---

<script>
    import { AstroGreet } from "./_rund";
</script>
<style define:vars={{ wasmheight: height }}>
    div {
        min-height: var(--wasmheight);
    }
</style>
<div {...Astro.props}></div>
