---
const { height = "300px", title = "" } = Astro.props;
    import rocket  from "./clouds.png";

---
<!-- <img src={rocket}/> -->
<!-- {rocket} -->
<script>
    import { AstroGreet } from "./_rund";
</script>
<style define:vars={{ wasmheight: height }}>
    div {
        min-height: var(--wasmheight);
    }
</style>
<div {...Astro.props} data-img={rocket}>
</div>
{title && <span>{title}</span>}
