---
import HeaderLink from "./HeaderLink.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";
import { Icon } from "astro-icon";
---

<header>
    <div class="title">
      <video autoplay muted poster="/profile-pic.png" preload="metadata" alt="logo">
        <source src="/out-1.webm"  type="video/webm"/>
        <source src="/out-1.mp4"  type="video/mp4"/>
        </video>
        <h1>
          {SITE_TITLE}
        </h1>
        <span>{SITE_DESCRIPTION}</span>
  <nav>
    <HeaderLink href="/">Home</HeaderLink>
    <HeaderLink href="/about">About</HeaderLink>
    <!-- <HeaderLink href="https://twitter.com/astrodotbuild" target="_blank">Twitter</HeaderLink> -->
    <HeaderLink href="https://github.com/theor" target="_blank">
      GitHub
    </HeaderLink>
    <HeaderLink href="/rss.xml">
      <Icon name="mdi:rss" />
    </HeaderLink>
  </nav>
</div>
</header>
<style lang="scss">
  header {
    font-family: Montserrat, sans-serif;
    margin: 0em 0 2em;
    nav {
        margin: 1em 1em 1em 0.5em;
    }
    .title {
        display:flex;
        flex-wrap: wrap;
        align-items: center;
    }
    h1 { 
        margin: 0;
    }
    span {
        margin: 15px;

        font-size: 1.2em;
        align-self: end;
    }
    img,video {
        width: 64px;
        height: 64px;
    }
}
</style>
<script>
  const v = document.querySelector("header .title video")!;
  let intervalRewind;
  v.addEventListener("mouseout", e => {
    clearInterval(intervalRewind);
    v.play();
   });
  v.addEventListener("mouseover", e => {
    intervalRewind = setInterval(function(){
       v.pause();
       v.currentTime -= 0.1
       if(v.currentTime == 0){
           clearInterval(intervalRewind);
       }
   },25);
  });
</script>
